@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  .nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 3px;
    background-color: white;
    transform-origin: left;
    transition: transform 0.2s linear;
    transform: scaleX(0);
  }
  
  .nav-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 55%;
    height: 3px;
    background-color: white;
    transform-origin: right;
    transition: transform 0.2s linear;
    transform: scaleX(0);
  }

  .nav-link:hover::before,
  .nav-link:hover::after {
    transform: scaleX(1);
  }

  .nav-auth::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: white;
    transform-origin: right;
    transition: transform 0.2s linear;
    transform: scaleX(0);
  }

  .nav-auth:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }

  .menu-button {
    @apply text-4xl w-60 text-center font-bold border p-4 rounded-lg uppercase hover:text-black hover:bg-white;
  }

  .username-input {
    @apply w-[50%] p-2 text-black text-4xl;
  }

  .lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
