@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 3px;
    background-color: white;
    transform-origin: left;
    transition: transform 0.2s linear;
    transform: scaleX(0);
    border-radius: 0.5rem 0 0 0.5rem;
  }

  .nav-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 3px;
    background-color: white;
    transform-origin: right;
    transition: transform 0.2s linear;
    transform: scaleX(0);
    border-radius: 0 0.5rem 0.5rem 0;
  }

  .nav-link:hover::before {
    transform: scaleX(1);
  }

  .nav-link:hover::after {
    transform: scaleX(1);
  }
}
